#bodyApp {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #000000; 
    color: #00FF00; 
}

.highlighted-link,
.highlighted-link a {
  margin: 0 ;
  padding: 0; 
  display: inline-block; 
}


