.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #000000; /* Black background */
    color: #00FF00; /* Green text */
}

.highlighted-link,
.highlighted-link a {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block; /* Ensures it behaves like a normal link */
}


