#body-author-account {
    background-color: #040009; 
    color: #00c800; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #080012;
  border-bottom: 2px solid #00c800;
}

nav a {
  color: #00c800;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: rgba(0, 200, 0, 0.2);
}


#authorIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

#authorIcon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #00c800;
}
  

  li {
    list-style-type: none;
    margin: 20px;
    padding: 15px;
    background-color: #111;
    border-radius: 8px;
    border: 5px solid #00c800; 
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  
  li label {
    font-size: 1.1rem;
    color: #00c800;
    margin-right: 10px;
  }
  
  li input[type="file"] {
    background-color: #222;
    border: 2px solid #00c800;
    color: #00c800;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  li input[type="file"]:focus {
    outline: none;
    border-color: #00ff00;
  }
  
  li input[type="file"]::file-selector-button {
    background-color: #00c800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 1rem;
  }
  
  li input[type="file"]::file-selector-button:hover {
    background-color: #008f00;
  }
  

  li input[type="file"]:invalid {
    border-color: red;
  }
  
  li input[type="file"]:invalid:focus {
    border-color: red;
    box-shadow: 0 0 5px red;
  }
  
 
  @media (max-width: 600px) {
    li {
      width: 90%; 
      margin: 10px auto;
    }
  

    li label,
    li input[type="file"] {
      font-size: 1rem;
    }
  
    li input[type="file"]::file-selector-button {
      padding: 8px;
      font-size: 1rem;
    }
  }
  